/* your styles go here */

/* Common */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  padding: 60px 0 60px;
}

.bg-center {
  margin-bottom: 0;
}

.center {
  text-align:center;
}

.btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: normal;
}

@media (min-width: 992px) {
  .logo {
    position: absolute;
    left: 8.89%;
    right: 62.99%;
    top: 0.59%;
    bottom: 97.73%;

    font-family: Chango;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 60px;

    /* or 130% */
    letter-spacing: -0.04em;
    font-feature-settings: 'ss01' on;

    color: #FFFFFF;
  }
}

@media (max-width: 992px) {
  .logo {
    position: absolute;
    top: 10px;
    left: 38%;


    font-family: Chango;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;

    /* or 130% */
    letter-spacing: -0.04em;
    font-feature-settings: 'ss01' on;

    color: #FFFFFF;
  }
}

@media (min-width: 992px) {
  .bubbles-background {
    background-image: url('../img/bubbles.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-x: 275px;
  }
}

.chat-bubble-even {
  position: relative;
  background-image: url('../img/chat-bubble-1.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 280px;
  width: 400px;
}

.chat-bubble-odd {
  position: relative;
  background-image: url('../img/chat-bubble-2.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 280px;
  width: 400px;
}

.chat-bubble-text {
  position: relative;
  top: 48%;
  margin-left: 2%;
  margin-right: 2%;
  transform: translateY(-50%);

  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;

  /* or 108% */
  text-align: center;
  letter-spacing: -0.01em;

  color: #323232;
}

.hand-phone-1 {
  background-image: url('../img/hand-phone-1.png');
  background-repeat: no-repeat;
  width: 256px;
  height: 255.6px;
}

.hand-phone-2 {
  position: relative;
  background-image: url('../img/hand-phone-2.png');
  background-repeat: no-repeat;
  width: 256px;
  height: 255.6px;
}

.hand-phone-3 {
  position: relative;
  background-image: url('../img/hand-phone-3.png');
  background-repeat: no-repeat;
  width: 256px;
  height: 255.6px;
}

.hand-phone-description {
  font-family: Lato;
  font-style: italic;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;

  /* or 125% */
  letter-spacing: -0.04em;
  font-feature-settings: 'ss01' on;

  color: #FDFDFD;
}

.how-it-works-text {
  margin-top: 10%;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 45px;

  /* or 88% */
  letter-spacing: -0.04em;
}

.what-can-you-do-text {
  width: 90%;
  margin-left: 5%;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: -0.04em;
  font-feature-settings: 'ss01' on;
}

/* Navbar */

.navbar, 
.navbar.active {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

/* About */

.device-wrapper {
  position: relative;
  max-width: 240px;
}

.device[data-device="Pixel"][data-orientation="portrait"][data-color="white"] .screen {
  top: 9.55%;
  left: 4.3668122271%;
  width: 91%;
  height: 80%;
}

/* How it works */

.stacks-metaverse {
  max-width: 500px;
}

/* FAQs */

@media (min-width: 768px) {
  .how-it-works__text-container {
    position: relative;
    background-image: url('../img/dashed_background.svg');
    background-position: center 55%;
    background-size: cover;
  }
}

/* Footer */

footer {
  font-size: 16px;
  line-height: 23px;
}